* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: red;
  font-size: 14px;
}

.container {
  margin: 0 auto;
  width: 80%;
}

.align-heder {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

ul {
  list-style: none;
}

header {
  background-color: black;
}
header ul {
  list-style: none;
  display: flex;
}
header .right-top-nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 45px;
}
header .right-top-nav ul li {
  padding-left: 25px;
  color: #7eadb9;
}
header .right-top-nav ul li i {
  color: #018ce3;
}
header .right-top-nav select {
  border-radius: 2px;
}
header .left-bottom-nav {
  display: flex;
  align-items: center;
  height: 45px;
}
header .left-bottom-nav ul li {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: white;
  padding-right: 40px;
  color: white;
}
header .left-bottom-nav ul li img {
  height: 32px;
  padding-bottom: 9px;
}
header .jumbo {
  position: relative;
  height: 400px;
  background-image: url("./img/bg-painter-home.jpg");
  background-position: 0 -68px;
  background-repeat: no-repeat;
  background-size: 100% 134%;
}
header .jumbo span {
  position: absolute;
  color: white;
  bottom: 10px;
  right: 40px;
  opacity: 0.8;
  font-size: 11px;
}
header .jumbo .container .jumbo-info {
  width: 50%;
}
header .jumbo .container .jumbo-info .img-logo-jumbo img {
  padding-bottom: 30px;
  width: 250px;
  padding-top: 50px;
}
header .jumbo .container .jumbo-info p.realistic {
  letter-spacing: -1px;
  font-size: 23px;
  color: #201d15;
  padding-bottom: 20px;
}
header .jumbo .container .jumbo-info p.limited {
  color: #c91db5;
  font-style: italic;
  font-weight: 700;
  font-size: 21px;
  padding-bottom: 3px;
}
header .jumbo .container .jumbo-info p.signature {
  padding-bottom: 40px;
  font-size: 18px;
  font-weight: 400;
  font-style: italic;
  color: #c70eb8;
}
header .jumbo .container .jumbo-info button[name=download] {
  font-weight: 600;
  border: 2px solid #000000;
  padding: 6px 25px;
  font-size: 17px;
  margin-left: 20px;
  background-color: transparent;
  text-transform: uppercase;
}
header .jumbo .container .jumbo-info button[name=learn] {
  color: white;
  font-weight: 600;
  border: 2px solid #000000;
  padding: 6px 25px;
  font-size: 17px;
  background-color: black;
  text-transform: uppercase;
}

main {
  background-color: #e8e8e8;
}
main .container h1 {
  padding: 40px;
  text-align: center;
  color: #636460;
}
main .container .cards {
  display: flex;
  margin: -10px;
}
main .container .cards .card {
  width: calc(100% / 3);
  padding: 10px;
}
main .container .cards .card .card-info {
  padding-bottom: 20px;
  background-color: white;
}
main .container .cards .card .card-info img {
  width: 100%;
  margin-bottom: 20px;
}
main .container .cards .card .card-info span {
  padding-right: 5px;
  color: rgba(0, 0, 255, 0.5);
  font-style: italic;
  text-transform: uppercase;
}
main .container .cards .card .card-info h4 {
  padding: 0 20px;
  color: #5a5a5a;
}
main .container .cards .card .card-info p {
  padding: 10px 20px;
  color: #525252;
}
main .container .cards .card .card-info p span {
  color: #525252;
  position: relative;
  top: -2px;
  left: 0;
  font-size: 12px;
}
main .container .cards .card .card-info a {
  padding-left: 20px;
  text-decoration: none;
}
main .container .cards-bottom {
  padding-top: 60px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
main .container .cards-bottom div {
  width: 50%;
  height: 250px;
}
main .container .cards-bottom div.first-card-img {
  background-image: url("./img/wacom-painter.jpg");
  background-size: cover;
  position: relative;
}
main .container .cards-bottom div.first-card-img img {
  top: 0;
  left: 0;
  position: absolute;
  width: 65%;
}
main .container .cards-bottom div.second-card-img {
  background-image: url("./img/painter-master.jpg");
  background-size: cover;
}
main .container .cards-bottom div.third-card-img {
  background-image: url("./img/business-education.jpg");
  background-size: cover;
}
