main {
  background-color: #e8e8e8;

  .container {
    h1 {
      padding: 40px;
      text-align: center;
      color: #636460;
    }

    .cards {
      display: flex;
      margin: -10px;

      .card {
        width: calc(100% / 3);
        padding: 10px;

        .card-info {
          padding-bottom: 20px;
          background-color: white;

          img {
            width: 100%;
            margin-bottom: 20px;
          }

          span {
            padding-right: 5px;
            color: rgba(0, 0, 255, 0.5);
            font-style: italic;
            text-transform: uppercase;
          }

          h4 {
            padding: 0 20px;
            color: #5a5a5a;
          }

          p {
            padding: 10px 20px;
            color: #525252;

            span {
              color: #525252;
              position: relative;
              top: -2px;
              left: 0;
              font-size: 12px;
            }
          }

          a {
            padding-left: 20px;
            text-decoration: none;
          }
        }
      }
    }

    .cards-bottom {
      color: white;
      padding-top: 60px;
      width: 100%;
      display: flex;
      flex-wrap: wrap;

      div {
        width: 50%;
        height: 250px;

        &.first-card-bottom {
          padding: 45px;
          background-color: #3c1567;

          h2 {
            padding-bottom: 25px;
            font-weight: 400;
          }

          p {
            padding-bottom: 20px;
            font-size: 16px;
            font-weight: 300;
            opacity: 0.9;
          }

          button {
            font-weight: 600;
            opacity: 0.9;
            padding: 5px 15px;
            text-transform: uppercase;
          }
        }

        &.first-card-img {
          background-image: url("./img/wacom-painter.jpg");
          background-size: cover;
          position: relative;

          img {
            top: 0;
            left: 0;
            position: absolute;
            width: 65%;
          }
        }

        &.second-card-img {
          background-image: url("./img/painter-master.jpg");
          background-size: cover;
        }

        &.second-card-bottom {
          padding: 45px;
          background-color: #3c3c3c;

          h2 {
            padding-bottom: 25px;
            font-weight: 400;
          }

          p {
            padding-bottom: 20px;
            font-size: 16px;
            font-weight: 300;
            opacity: 0.9;
          }

          button {
            font-weight: 600;
            opacity: 0.9;
            padding: 5px 15px;
            text-transform: uppercase;
          }
        }



        &.third-card-bottom {
          padding: 45px;
          background-color: #0072BC;

          h2 {
            padding-bottom: 25px;
            font-weight: 400;
          }

          p {
            padding-bottom: 20px;
            font-size: 16px;
            font-weight: 300;
            opacity: 0.9;
          }

          button {
            font-weight: 600;
            opacity: 0.9;
            padding: 5px 15px;
            text-transform: uppercase;
          }
        }

        &.third-card-img {
          background-image: url("./img/business-education.jpg");
          background-size: cover;
        }

      
      }
    }
  }
}
